@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
}
body{
  overflow: visible ;
  scroll-behavior: smooth;
}
.logo{
  margin-top: 1em;
  transform: scale(75%);
  position: relative;
  z-index: 10;
  opacity: 1;
  top: 0;
}
nav{
  flex: 1;
}
.showcase{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
  overflow: hidden;
  background: #1e1e26;
}
.showcase.active{
  right: 300px;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  z-index: -1;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: gray;
  mix-blend-mode: overlay;
}
.text
{
  position: relative;
  z-index: 10;
  transform: scale(65%);
  cursor: default;
  width: 100%;
}


.text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p
{
  font-size: 2em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  width: 700px;
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
  border-radius: 15px;

}
.text a:hover
{
  letter-spacing: 6px;
}
.navbar{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}
.pagelogo {
  transform: scale(60%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
  z-index: 3;
}
.text h1 :hover{

  scale: 1.5;
  }
.contact {
    position: absolute;
    right: 8em;
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
}
.contact:hover{
  transition-duration: 1s;
  transform: scale(125%);
}

.copyright {
  width: 100%;
  align-items: bottom;
  position: absolute;
  text-align: left;
  bottom: 0;
  display: block;
  z-index: 5;
  background-color: rgba(240, 248, 255, 0.521);
  font-size: small;
  font-weight:500 ;
  height: 40px;
}

#footerpic {
  transform: scale(75%);
  position: absolute;
  right: 0; 
  bottom: 6px;
}

#slider{
  display: block;

}

.msg-container{
  width: 100%;
  height: 400px;
  position: absolute;
  transform: translateY(-25%);
  top: 57%;
  ;
}

.msg-col{
  width: 900px;
  height: 400px;
  margin-bottom: 400px;
}
  
.controller{
  width: 1px;
  height: 440px;
  display: block;
  background: #f0f8ff;
  position: absolute;
  top: 55%;
  right: 50px;
  transform: translateY(-35%);
}

#A1,#A2{
  width: 100%;
  background: #1e1e26;
  
}
#PA1,#PA2{
  height: 350px;
  width: 100%;
  background: #1e1e26;
}





@media (max-width: 991px){
    .showcase,
    .showcase header
    {
      padding: 40px;
    }
    .text h2
    {
      font-size: 3em;
    }
    .text h2 :hover{
      scale: 1.5;
    }
    .text h3
    {
      font-size: 2em;
    }
    .contact {
   display: none;
    }

  }