#banner {
    position: relative;
    height:500px;
    width:100%;
    overflow: hidden;
}
#videobcg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    height:auto;
    width:auto;
    z-index: -100;
}
#vidtxt1{
    margin-left: 150;
    font-size: 48px;
}